<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">

	<resultMap id="purchaseSelectMap" type="purchase">
		<!-- OGNL 개념 적용 -->
		
		<result property="purchaseProd.prodNo" column="PROD_NO"	jdbcType="NUMERIC" />
		<result property="purchaseProd.prodName" column="prod_name"	jdbcType="VARCHAR" />
		<result property="buyer.userId" column="BUYER_ID" jdbcType="VARCHAR" />

		<result property="tranNo" column="TRAN_NO" jdbcType="NUMERIC" />
		<result property="divyAddr" column="DEMAILADDR"	jdbcType="VARCHAR" />
		<result property="divyDate" column="DLVY_DATE" jdbcType="DATE" />
		<result property="divyRequest" column="DLVY_REQUEST" jdbcType="VARCHAR" />
		<result property="orderDate" column="ORDER_DATA" jdbcType="DATE" />
		<result property="paymentOption" column="PAYMENT_OPTION" jdbcType="CHAR" />
		<result property="receiverName" column="RECEIVER_NAME"	jdbcType="VARCHAR" />
		<result property="receiverPhone" column="RECEIVER_PHONE"	jdbcType="VARCHAR" />
		<result property="tranCode" column="TRAN_STATUS_CODE"	jdbcType="CHAR" />
	</resultMap>




	<insert id="insertPurchase" parameterType="purchase">
		INSERT
		INTO transaction
		VALUES
			(seq_transaction_tran_no.nextval,
			#{purchaseProd.prodNo},
			#{buyer.userId},
			#{paymentOption:CHAR},
			#{receiverName:VARCHAR},
			#{receiverPhone:VARCHAR},
			#{divyAddr:VARCHAR},
			#{divyRequest:VARCHAR},
			#{tranCode:CHAR},
			SYSDATE,
			#{divyDate:DATE})
	</insert>

	<select id="selectPurchase" parameterType="int"
		resultMap="purchaseSelectMap">
		SELECT * FROM transaction
		WHERE tran_no = #{tranNo}
	</select>

	<update id="updatePurchase" parameterType="purchase">
		UPDATE transaction
		SET
			payment_option = #{paymentOption:CHAR},
			receiver_name= #{receiverName:VARCHAR},
			receiver_phone= #{receiverPhone:VARCHAR},
			demailaddr= #{divyAddr:VARCHAR},
			dlvy_request= #{divyRequest:VARCHAR},
			dlvy_date= #{divyDate:DATE}
		WHERE tran_no = #{tranNo}
	</update>


	<!-- select id="selectPurchaseList" parameterType="map"
		resultMap="purchaseSelectMap">
		SELECT
		T.tran_no,
		T.order_data,
		P.prod_no,
		P.prod_name,
		T.receiver_name,
		T.demailaddr,
		T.tran_status_code,
		T.payment_option
		FROM
		transaction T, product P
		WHERE P.prod_no = T.prod_no AND buyer_id =
		#{userId}
	</select-->


	<select id="selectPurchaseList" parameterType="map"
		resultMap="purchaseSelectMap">
		SELECT *
		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
				FROM ( SELECT
							T.tran_no,
							T.order_data,
							P.prod_no,
							P.prod_name,
							T.receiver_name,
							T.demailaddr,
							T.tran_status_code,
							T.payment_option
							FROM transaction T,
							product P
					   WHERE P.prod_no = T.prod_no AND buyer_id = #{userId} ) inner_table
		WHERE ROWNUM <![CDATA[<=]]>
		#{search.currentPage}*#{search.pageSize} )
		WHERE row_seq BETWEEN
		(#{search.currentPage}-1)*#{search.pageSize}+1
		AND
		#{search.currentPage}*#{search.pageSize}
	</select>

	<select id="getTotalCount" parameterType="String"
		resultType="int">
		SELECT COUNT(*)
		FROM(
			SELECT
				T.tran_no,
				T.order_data,
				P.prod_no,
				P.prod_name,
				T.receiver_name,
				T.demailaddr,
				T.tran_status_code,
				T.payment_option
			FROM transaction T, product P
			WHERE P.prod_no = T.prod_no AND buyer_id = #{userId})
	</select>


	<update id="updateTranCode01" parameterType="purchase">
		UPDATE transaction 
		SET tran_status_code = #{tranCode} 
		WHERE prod_no = #{purchaseProd.prodNo}
	</update>
	
	<update id="updateTranCode02" parameterType="purchase">
		UPDATE transaction 
		SET tran_status_code = #{tranCode} 
		WHERE tran_no = #{tranNo}
	</update>
	

</mapper>